body {
  margin: 0;
  background-color: #adc178;
}

.pcture {
  position: relative;
  max-width: 350px;
  max-height: 270px;
  top: 15.5vh;
  left: 1.9vw;
  border-radius: 1rem;
}

h3 {
  position: absolute;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  top: 1px;
  left: 10rem;
  margin-left: 5rem;  
}

p {
  font-size: large;
  position: absolute;
  text-align: center;
}


.wallpapeerr{
  background-color: #90a955;
  border: .25rem solid black;
  border-radius: 16px;
  background-size:auto;
  color:rgb(3, 0, 0);
  position: absolute;
  width: 60vw;
  height: 66vh;
  left: -11vh;
}

.card-containeer {
  position: absolute;
  left: 26vw;
  top: 18vh;
  width: 57vw;
  height: 15px;
  /* height: 55vh; */
}

.naame {
  text-align: center;
  font-size:x-large;
  position: absolute;
  font-weight: bold;
  left: 2.2vw;
  top: 2vh;
}

.temperameents {
  top: 5.7vw;
  left: 55vh;
  text-transform: uppercase;
  font-size: medium;
}

.pTemperament{
  position: absolute;
  text-align: left;
  top: 7vw;
  left: 67.5vh;
  font-size: medium;
}

.Height{
  position: absolute;
  top: 11.5vw;
  left: 55vh;
  text-transform: uppercase;
  font-size: medium;
  color: black;
}

.pHeight{
  position: absolute;
  top: 13vw;
  left: 67.5vh;
  font-size: medium;
}

.Weight{
  position: absolute;
  top: 16.5vw;
  left: 55vh;
  text-transform: uppercase;
  font-size: medium;
  color: black;
}

.pWeight{
  position: absolute;
  top: 18vw;
  left: 67.6vh;
  font-size: medium;
}

.lifeSpan{
  top: 21.5vw;
  left: 55vh;
  text-transform: uppercase;
  font-size: medium;
}

.pLifeSpan{
  top: 23vw;
  left: 67vh;
  font-size: medium;
}

.btnBack {
  justify-content: center;
  position: absolute;
  padding: 10px;
  top: 70vh;
  left: 52vh;
  transition: 0.4s;
  cursor: pointer;
  text-transform: uppercase;
  color: #0b090a;
  text-decoration: none;
  border: 2px solid #0b090a;
  font-weight: 300;
  letter-spacing: 2px;
  border-radius: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

