.woorupape{
  background-color: #90a955;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  background-attachment: fixed;
  border: 0;
}

.fouGif{
  position: absolute;
  bottom: 40px;
  left: 100px;
  opacity: 0.95;
  color: black
}

.loadingTime{
  display: none;
}