

::-webkit-scrollbar-track {
  background: rgb(202, 196, 196);
}

::-webkit-scrollbar-thumb {
  background: rgb(205, 205, 209);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(226, 226, 230);
}